body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 10PX;
}
/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Estilo para as células da tabela */
th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e6c9fd;
}

tr:nth-child(even) {
    background-color: #cba3eb63;
}

tr:hover {
    background-color: #e5ceff;
}

/* Estilo para links na tabela */
a {
    text-decoration: none;
    color: rgb(68, 2, 112);
}

/* Estilo para os botões de ação */
a.editar {
    color: green;
}

a.deletar {
    color: red;
}

/* Estilo para o formulário */
form {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para os rótulos do formulário */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para os campos de entrada do formulário */
input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para o botão do formulário */
input[type="submit"] {
    background-color: #6d248a;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

/* Estilo quando o cursor está sobre o botão do formulário */
input[type="submit"]:hover {
    background-color: #3e144e;
}

input[type="button"] {
    background-color: #5645a0;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

/* Estilo quando o cursor está sobre o botão do formulário */
input[type="button"]:hover {
    background-color: #261f49;
}