body{

    background-color: #f3f4f6;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

nav{
    background-color: rgb(188, 163, 230);
    overflow: hidden;
    width: 100%;
    padding-left: 5px;
    border-radius: 10px;
}

.logo{
	float: left;
	display: flex;
	padding: 5px 16px;
}

nav a{
    color: #ffffff;
    text-decoration: none;
    float: right;
    display: flex;
    padding: 14px 16px;
}

nav a:hover{
    transition: 0.5s;
    background-color: #613387;
    text-decoration: none;
    padding: 15px 17px;
    border-radius: 50px;
}



.titulo{
    color: #613387;
    font-size: 39px;
    text-align: center;
}

.subtitulo{
    color: black;
    font-size: 30px; 

}

a
{
    text-decoration: none;
}

.product-card {
    width: 400px;
    position: relative;
    box-shadow: 0 2px 7px #613387;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background:red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 100px;
    background: #f0f0f0;
}


.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #613387;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: red;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}


.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #613387;
}

footer{
    background-color: #613387;
    color: white;
}

.Social{
    justify-content: right;
    text-align: center;
}
