body{

  background-color: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

nav{
  background-color: rgb(188, 163, 230);
  overflow: hidden;
  width: 100%;
  padding-left: 5px;
  border-radius: 10px;
}

.logo{
float: left;
display: flex;
padding: 5px 16px;
}

nav a{
  color: #ffffff;
  text-decoration: none;
  float: right;
  display: flex;
  padding: 14px 16px;
}

nav a:hover{
  transition: 0.5s;
  background-color: #613387;
  text-decoration: none;
  padding: 15px 17px;
  border-radius: 50px;
}



table, th, td {
    border: 2px solid #c277ff;
    border-collapse: collapse;
    
  }
  th, td {
    background-color: #ffffff;
  }


.midinha{
  font-size: 25px;
  color: rgb(6, 30, 31);
  background: #613387;
  color: #f3f4f6;
}

footer{
  background-color: #613387;
  color: white;
}

.Social{
  justify-content: right;
  text-align: center;
}

